body{
    background-color: #0d969b;
    margin: 0;
}
h1{
    color: white;
    font-family:Verdana, Tahoma, sans-serif  ;
}
#div1{
    background-color: white; 
}
#tabla1{
    background-color: white;
    border-spacing :20mm 5mm;
    float: right;
}
a{
    color: black;
}
fieldset{
    border-style: solid;
}
legend{
    color: lightblue;
}
.entrada{
    border-radius: 18px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: white;
    border-style: solid; 
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    text-align: center;
    text-decoration: none;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16px;
}
.piePagina{
    font-size: 20px;
    color: white;
    display: inline;
    font-size: medium;
}