body{
    background-color: #0d969b;
    margin: 0;
}
h1{
    color: white;
    font-family:Verdana, Tahoma, sans-serif  ;
}
#div1{
    background-color: white;
}
table{
    background-color: white;
    border-spacing :20mm 5mm;
    float: right;
}
a{
    color: black;
}
footer{
    text-align: center;
    text-decoration: none;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16px;
}
.piePagina{
    font-size: 20px;
    color: white;
    display: inline;
    font-size: medium;
}
